$primary: #155988;
$danger: #dc3545;
$warning: #f59f00;
$maintenance: #1a7e95;
$link-color: #114a78;
$border-radius: 50rem;
$secondary-text: #aaa;

$highlight: #1e879f;
$highlight-white: #e6f3f8;

$dark-font-color: #c4d2df;
$dark-font-color2: #0d1d2d;
$dark-bg: #07141f;
$dark-bg2: #0b1e2e;
$dark-border-color: #19374f;
$dark-header-bg: #0e2436;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
